/*

Colour Scheme:

Light yellow:   #FFF653;
Mid yellow:     #CEC441;

Light grey:     #C6C6C6;
Mid grey:       #AAAAAA;
Dark grey:      #999999;

*/

/*******************
  BASE SETUP
*******************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.container {
  margin: 0 auto;
  width: 95%;
}

/*******************
  BASE FONT STYLES
*******************/

body {
 font-family: 'Source Sans Pro', sans-serif;
}

h1 a,
.teasers-block h2,
.strapline p {
  font-family: 'Merriweather', serif;
}

a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

/*******************
  BASE GENERAL STYLES
*******************/

html {
  font-size: 20px;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* NOTE: skip until .intro section styling */
.cta {
  color: black;
  text-decoration: none;
  font-size: 22px;
  padding: 14px 0;
  display: block;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.cta-small {
  font-size: 18px;
}

.cta-grey {
  background-color: #C6C6C6;
  border-bottom: 3px solid #999999;
}

.cta-yellow {
  background-color: #FFF653;
  border-bottom: 3px solid #CEC441;
}

/*******************
  HEADER
*******************/

header {
  background-color: black;
  border-bottom: 5px solid #FFF653;
}

h1 {
  float: left;
  margin: 15px 0;
}

.logo {
  color: #FFF653;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 0;
  text-transform: none;
}

header nav {
  float: right;
}

header ul {
  margin: 0;
}

header li {
  float: left;
  list-style: none;
  margin: 0 5px;
}

header li:nth-child(n+3) a {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: none;
}

header a {
  color: white;
  display: block;
  font-size: 22px;
  padding: 20px 5px;
  text-decoration: none;
}

/*************************
LANDING PAGE
**************************/

nav img {
  max-width: auto;
}


/*******************
  DESIGNER/DEVELOPER
*******************/

.profiles,
.perc {
  background: #C6C6C6;
  padding: 10px 0;
}

.card,
.perc {
  padding-left: 0;
}

.card,
.perc {
  background-color: #FFF;
  float: left;
  margin-bottom: 10px;
  margin-right: 2%;
  padding: 10px;
  width: 23.5%;
}

.card:nth-child(4n),
.perc:nth-child(4n) {
  margin-right: 0;
}

.card img,
.perc img  {
  width: 100%;
}

.card h3,
.perc img {
  font-weight: normal;
  font-size: 22px;
  margin: 5px 0;
}

.skills {
  padding-left: 0;
  margin-bottom: 10px;
}

.skills li {
  float: left;
  background: #666;
  padding: 1px 12px;
  border-radius: 100px;
  font-size: .75em;
  margin: 0 5px 5px 0;
  color: white;
  text-decoration: none;
}

/*******************
  FOOTER
*******************/

footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.perc {
  display: inline;
}